body{
    margin: 0;
    font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}
input, label {
    margin: 1.5rem 2rem ;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}
.signup{
    min-height: 60vh;
    text-align: center;
    justify-content: center;
    background: rgb(74, 184, 221);
    padding: 2rem;
    border-radius: 10rem;
}
button{
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: rgb(88, 88, 172); /*blue*/
    color: rgb(238, 196, 196);
    border: none;
    width: 15%;
}
button:hover{
    background: rgb(108, 108, 192); /*blue*/
    color: rgb(10, 10, 10)      /*Black*/
    }
.email{
    padding: 2rem;
}